
<nav class="navbar navbar-expand navbar-light bg-light">
  <ul class="nav navbar-nav ">
    <!-- <li class="nav-item">
      <a class="nav-link active" href="#" aria-current="page"
        >Nav 1 <span class="visually-hidden">(current)</span></a
      >
    </li> -->
    <li class="nav-item">
      <a class="nav-link" href="/frankfurter/home" routerLinkActive="active" >Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/frankfurter/conversor" routerLinkActive="active" >conversor</a>
    </li>
  </ul>
</nav>

